<%- include('../header') -%>
<body class="bg-gris">
    <main class="flex justify-center items-center h-screen mx-96">
        <div class="w-full">
            <div class="flex justify-center items-center">
                <img class="w-max "src="/images/itsense.png" alt="bird-itsense">
            </div>
            <% if (error) { %>
                <div class="flex justify-center text-red-600">
                    <p><%= error %></p>
                </div>
            <% } %>
            <% if(success) { %>
                <div class="flex justify-center text-green-600">
                    <p><%= success %></p>
                </div>
            <% } %>
            <div class="flex justify-center">
                <div class="rounded-lg w-max bg-blue p-6 m-0">
                    <div class="h-full flex justify-center items-center flex-col">
                        <div class="flex justify-center text-white font-bold">
                            <span class="border-b">Réinitialisation du mot de passe</span>
                        </div>
                        <form class="mt-5 w-full" method="post">
                            <div class="grid w-full">
                                <input type="hidden" class="ml-5 w-full" name="email" placeholder="Adresse E-mail" value="<%=user.email %>" required>
                                <div class="flex w-full bg-white rounded-md p-2 mt-5">
                                    <img src="/images/cadenas.png" alt="cadenas">
                                    <input type="password" class="ml-5 w-full" name="password" placeholder="Mot de passe" required>
                                </div>
                                <div class="flex w-full bg-white rounded-md p-2 mt-5">
                                    <img src="/images/cadenas.png" alt="cadenas">
                                    <input type="password" class="ml-5 w-full" name="passwordRepeat" placeholder="Répetez le mot de passe" required>
                                </div>
                            </div>
                            <div class="flex justify-center mt-5">
                                <button type="submit" class="p-2 h-full rounded-md bg-white text-gray-600 font-bold">Réinitialiser le mot de passe</button>
                            </div>
                        </form>
                        <a href="/" class="text-decoration-none mt-4">
                            <span class="text-white">Page de connexion</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<%- include('../footer') -%>
