<%- include('../header'); -%>
<body>
    <%- include('../navigation'); -%>
    <main>
        CREATION client
        <form class="w-full" method="post">
            <input type="text" name="username" value="" placeholder="Nom client" required>
            <input type="email" name="email" value="" placeholder="Email client" required>
            <label for="">Role :</label>
            <select class="" name="role">
                <% for (var i = 0; i < roles.length; i++) { %>
                    <option value="<%= roles[i].id_role %>"><%= roles[i].role %></option>
                <% } %>
            </select>
            <input type="submit" value="Envoyer">
        </form>
    </main>
</body>
<%- include('../footer'); -%>
