<%- include('../../header'); -%>
<body>
    <%- include('../../navigation'); -%>
    <main class="mx-6">
        <% if (error) { %>
            <div class="text-red-600">
                <p><%= error %></p>
            </div>
        <% } %>
        <% if(success) { %>
            <div class="text-green-600">
                <p><%= success %></p>
            </div>
        <% } %>
        <div class="w-full">
            <div class="mx-6 my-6">
                <table class="table-fixed w-full">
                    <thead>
                        <tr>
                            <th class="text-left">PROCESSUS</th>
                            <th class="text-left">PILOTE</th>
                            <th class="text-left">E-MAIL</th>
                            <th class="text-left">RESSOURCE(S)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < plansAction.length; i++ ){ %>
                            <tr class="bg-gray-100 h-16 min-h-full">
                                <td><%= plansAction[i].planActions_processus.nom_processus %></td>
                                <td><%= plansAction[i].planActions_processus.processus_relaisUser.nom_user %></td>
                                <td><%= plansAction[i].planActions_processus.processus_relaisUser.email %></td>
                                <td>
                                    <ul>
                                        <% for (var j = 0; j < plansAction[i].planActions_processus.processus_ressourceUser.length; j++) { %>
                                            <li><%= plansAction[i].planActions_processus.processus_ressourceUser[j].nom_user %></li>
                                        <% } %>
                                    </ul>
                                </td>
                                <td>
                                    <div class="flex justify-end pr-4">
                                        <button type="button" name="button" onclick="openModalViewProcessusUser(<%= plansAction[i].planActions_processus.id_processus %>)"><img class="h-12" src="/images/view.png" alt=""></button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="h-4"></tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- -------------------- MODAL DE VIEW ------------------------------>
    <div id="modalView" class="fixed z-10 inset-0 hidden overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">​</span>
                <div class="inline-block align-bottom bg-blue-nav overflow-hidden transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                    <div class="flex justify-end mt-2 mr-2">
                        <button type="button" name="button" class="text-white font-bold" onclick="closeModalViewPlanAction()">X</button>
                    </div>
                    <div id="modalViewBody" class="m-5 flex justify-center">
                    </div>
                </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------------>
<%- include('../../footer'); -%>
